<%- include('../views/include/header.ejs')%>
<%- include('../views/include/nav.ejs')%>

<script type="text/javascript">
    $(document).ready(function(){

        $( "#form" ).submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/admin/addQuestion',
                data: $('#form').serialize(),
                dataType: "json",
                success: function(response){
                    //alert("a");
                    //console.log(response.Success);
                    $('#form')[0].reset();

                    document.getElementById("check").innerHTML=response.Success;
                         //ADD THIS CODE
                         setTimeout(function(){
                             document.getElementById("check").innerHTML="";
                         },3000);
                         if (response.Success=="Success!") {
                             document.getElementById("aa").setAttribute("href", response.quiz_id);
                             document.getElementById("aa").click();
                         };
                     },
                     error: function() {
                     }
                 })
        });

    });
</script>
<div class="container-sm">
  

    <div class="card" style="padding: 5%; margin: 1rem auto 1rem auto;">
        <div style="text-align: center;margin: 2rem;display: flex;justify-content: center;align-items: center;">
          <div>
            <h1><%= qname %> </h1>
          </div>
          <div style="margin-left: 1rem;">
           <a class="aLink" href=""><i class="fa fa-edit"></i></a>
          </div>
		    </div>

        <form method="post"id="form">
            <div class="mb-3">
              <label for="quizname" class="form-label">Question </label>
              <input type="text" class="form-control" name="q" id="quizname" aria-describedby="quiznameHelp" required>
              <input type="text" hidden class="form-control" name="quiz_id" id="quiz_id" value="<%= id %> " aria-describedby="quiznameHelp" required>
              <input type="text" hidden class="form-control" name="department" id="department" value="<%= depart %> " aria-describedby="quiznameHelp" required>
              <div class="container">
                
             
              <div class="row align-items-start">
                <div class="col-2">
                  Answer
                </div>
                <div class="col">
                  Options
                </div>
              </div>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              <div class="row align-items-start">
                <div class="col-1"  style="height: 300px;">
                    <div class="" style=" min-height: 100%; display: flex;flex-direction: column; justify-content: space-around; ">
                    <div class="form-check" >
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault1" value="0">
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault2" value="1">
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault3" value="2">
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault4" value="3">
                      </div>
                      </div>
                </div>
                <div class="col">
                    <label for="opt1" class="form-label">Option 1</label>
                    <input type="text" class="form-control" name="option" id="opt1" aria-describedby="quiznameHelp" required>
                    <label for="opt1" class="form-label">Option 1</label>
                    <input type="text" class="form-control" name="option" id="opt1" aria-describedby="quiznameHelp" required>
                    <label for="opt1" class="form-label">Option 1</label>
                    <input type="text" class="form-control" name="option" id="opt1" aria-describedby="quiznameHelp" required>
                    <label for="opt1" class="form-label">Option 1</label>
                    <input type="text" class="form-control" name="option" id="opt1" aria-describedby="quiznameHelp" required>
                </div>
                </div>
            </div>
            </div>

            
            <div style="display: flex; justify-content: center;">
                <input type="submit" style="width: 80%; " value="Create" class="btn btn-primary">
            </div>
          </form>
          <div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a  id="aa"></a>
		</div>
    </div>

    <% if (questions.length  != 0) { %>
      <div class="card" style="margin-bottom: 2rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          
          <% questions.forEach(function(obj) { %>
            <li class="list-group-item"> 
              
              <table style="width: 100%; text-align: center; ">
                <tr>
                  <td class="d-inline-block text-truncate" style="width: 50%;"><%= obj.q %> </td>
                  <td style="width: 25%;"><a  style=" text-decoration: none;color: black;" href="/admin/edit/<%= obj._id %>"><i class="fa fa-edit"></i></a></a></td>
                  <td style="width: 25%;"><a  style=" text-decoration: none;color: black;" href="/admin/delete/<%= obj._id %>"><i class="fa fa-trash"></i></a></a></td>
                </tr>
              </table>
             </li>
         <% }); %> 
        </ul>
      </div>
      <%} %> 
</div>

<%- include('../views/include/footer.ejs')%>