<%- include('../views/include/header.ejs')%> <%-
include('../views/include/usernav.ejs')%>
<style>
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
</style>
<div class="container-sm" style="margin-top: 3rem">
  <!-- Content here -->
  <div style="display: flex; flex-direction: row">
    <div class="card" style="width: 12rem; padding: 2rem; height: 200px">
      <img
        width="100px"
        height="100px"
        src="/public/avataar/user-solid.svg"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title"><%= name %></h5>
      </div>
    </div>

    <% if (array.length != 0) { %>

    <div class="card" style="width: 80%; margin-left: 3rem">
      <table id="customers">
        <tr>
          <th>Quiz</th>
          <th>Total questions</th>
          <th>Total score</th>
        </tr>
        <% array.forEach(function(obj,key) { %>
        <tr>
          <td><%= obj.quizname %></td>
          <td><%= obj.questionLimit %></td>
          <td><%= obj.score %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <% }else { %>
    <div class="card" style="width: 80%; margin-left: 3rem">
      <div style="margin: 1rem" class="alert alert-danger" role="alert">
        No result found
      </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('../views/include/footer.ejs')%>
